*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#251D46;
}
.aside{
    position: fixed;  /* Hace que el aside esté fijo */
    top: 0;           /* Posición superior a 0 */
    left: 0;          /* Posición a la izquierda a 0 (puedes cambiarla a derecha si lo prefieres) */
     /* Anchura del aside */
    background-color: #372862;
    height: 100vh;
    width: 10vw;
    min-width: 200px;
    box-shadow: 5px 5px 0;      /* Sombra sin desenfoque */
    box-shadow: 5px 5px 2px;    /* Sombra con ligero desenfoque */
    box-shadow: 5px 5px 10px;   /* Sombra desenfocada */
    box-shadow: 5px 5px 40px;   /* Sombra con un desenfoque casi disipado */
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
main{
    display: flex;
    align-items: center;
    margin-left: 14vw;
    height: 100vh;
}
li{
    list-style: none;
}
li a{
    color: #9A85DD;
    text-decoration: none;
}
li a:hover{
    color: #4CDAD7;
    
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1em;
    height: 70vh;
    
}
button{
    background-color: #9575CD;
    border-radius: 10%;
}
.dankest {
    height: 60vh; /* Altura relativa a la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: flex-start; /* Alinea todo el contenido a la izquierda */
    gap: 1em;
    margin-left: 100px;
}

.dankest h1 {
    font-size: 52px;  /* Tamaño del h1 */
    margin: 0;
    color: #D56DF2;
    line-height: 1;   /* Asegura que el h1 no tenga demasiado espacio vertical */
}

.dankest span {
    font-size: 16px;  /* Tamaño más pequeño para el span */
    color: #02FE9D;
}

.dankest h3, .dankest h4, .dankest h5 {
    margin: 1em 0 0 0; /* Espacio uniforme después de los textos */
    text-align: left;
    color: #9DB9E9;
}
.dankest h3 {
    color: #FFE500;
}

.dankest button {
    padding: 0.5em 1em;
    font-size: 1rem;
    background-color: #02FE9D;
    cursor: pointer;
}

.social {
    display: flex;
    gap: 1em; /* Espaciado entre los botones sociales */
    
}

.social button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F85783; /* Color de fondo para los botones */
    border: none;
    cursor: pointer;
}
a{
    color: #02FE9D;
}
.name{
    display: flex;
    flex-direction: column;
    align-items: end;

}
.name span{
    position: relative;
    left: 50px;
 
}